<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - proshuteria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/proshuteria.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/88d574b485.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img width="80px" height="auto" src="~/images/pig.png" title="title" alt="Лого" />
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Meats" asp-action="Products">Продукти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">За нас</a>
                        </li>
                        <li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a>
                        </li>
                        @if (User.IsInRole("Admin")) {
                            <li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Meats" asp-action="Index">Меса</a>
							</li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MeatCategories" asp-action="Index">Категории</a>
                            </li>
						}
                    </ul>
                    <form class="d-flex" asp-controller="Meats" asp-action="Products">
                        <input class="form-control me-sm-2" type="search" placeholder="Търсачка..." name="SearchString">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Търси</button>
                    </form>
                    <partial name="_LoginPartial" />
                    <a asp-area="" asp-controller="Orders" asp-action="Index"><i class="ml-2 fa-solid fa-cart-shopping text-black"></i></a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-center">
        <div class="container">
            &copy; 2024 - Руски Свят
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
