@model proshuteria.Data.MeatCategory

@{
    ViewData["Title"] = "Изтриване";
}

<h1>@ViewData["Title"]</h1>

<h3>Сигурни ли сте, че искате да изтриете това?</h3>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Категория на месото</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">Име</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
                <dt class="col-sm-2">Описание</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
                <dt class="col-sm-2">Дата на регистрация</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.RegisterOn)</dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">Изтрий</button> |
                <a asp-action="Index" class="btn btn-secondary">Обратно към списъка</a>
            </form>
        </div>
    </div>
</div>
