@{
    ViewData["Title"] = "За нас";
}

<div class="text-center">
    <h1 class="mb-4">За нас</h1>

    <p>
        Добре дошли в Прошутерията - вашата врата към изобилието от руски деликатеси и изкушения! Вдъхновени от богатата руска кулинарна традиция, ние предлагаме изключително изживяване за всички любители на храната, които се стремят към вкусови удоволствия от най-високо качество.

        В Прошутерията, ние сме посветени на предоставянето на нашите клиенти с най-добрите руски деликатеси, включително вкусни прошути, сирена, колбаси и други месни специалитети. Нашите продукти са подбрани с грижа и внимание към традиционните методи на производство, за да осигурим неповторим вкус и качество във всяка хапка.

        В допълнение към нашата богата селекция от деликатеси, в Прошутерията също така предлагаме разнообразие от прошута, които ще задоволят всеки вкус и предпочитание. От пикантни до сладки, нашите продукти са готови да ви завладеят с изобилието си от вкусове и аромати.
    </p>

    <img height="500px" src="~/images/inside.webp" />
</div>